.App {
  text-align: center;
}
.Input {
  font-size: 15px;
  color: #000;
}
.Count{
  text-align: center;
  font-size: 15px;
  color: #000;
}
.Add{
  background-color: #24ad3d;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.Delete{
  background-color: #cf1a1a;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}